<div class="pull-right">
    <form class="form-inline" role="form">
        <label for="filter">Filter</label>
        <input id="filter" class="form-control" type="text" ng-model="query">
    </form>
</div>
<table class="table">
  <thead>
      <tr>
          <th>No</th>
          <th>Name</th>
          <th>Yield</th>
          <th>Ratio</th>
          <th>Ex Date</th>
          <th>Payout Date</th>
      </tr>
  </thead>
  <tbody>
  <tr ng-repeat="x in dividends | filter:query">
    <td>{{$index + 1}}</td>
    <td><a href="#company/{{ $index }}">{{ x.company }}</a></td>
    <td>{{ x.yield }}</td>
    <td>{{ x.payoutRatio }}</td>
    <td>{{ x.exDate }}</td>
    <td>{{ x.payoutDate }}</td>
  </tr>
  </tbody>
</table>
